/* line 17, ../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 35, ../scss/_base.scss */
.center-txt {
  text-align: center;
}

/* line 61, ../scss/_base.scss */
h1, h2, h3 {
  font-weight: bold;
}

/* line 65, ../scss/_base.scss */
h1 {
  font-size: 34px;
  line-height: 51px;
}

/* line 70, ../scss/_base.scss */
h2 {
  font-size: 30px;
  line-height: 45px;
}

/* line 75, ../scss/_base.scss */
h3 {
  font-size: 24px;
  line-height: 36px;
}

/* line 82, ../scss/_base.scss */
body {
  background-color: #6c8ea0;
  font-family: 'Actor', sans-serif;
  color: #fefefe;
  font-size: 20px;
  line-height: 30px;
}

/* line 113, ../scss/_base.scss */
button {
  font-size: inherit;
  font-family: inherit;
  background-color: inherit;
  padding: 8px;
  cursor: pointer;
}
/* line 120, ../scss/_base.scss */
button:hover {
  color: #fefefe;
}
/* line 124, ../scss/_base.scss */
button:focus {
  outline: 0;
  color: #fefefe;
}

/* line 150, ../scss/_base.scss */
.helper {
  color: #aac3d0;
}

/* line 3, ../scss/options.scss */
.page-title {
  margin-bottom: 16px;
}

/* line 7, ../scss/options.scss */
.block-num {
  width: 40px;
}

/* line 11, ../scss/options.scss */
.block-time {
  width: 50px;
}

/* line 15, ../scss/options.scss */
.rules-saved {
  text-align: left;
}
/* line 18, ../scss/options.scss */
.rules-saved td, .rules-saved th {
  padding: 4px 16px 4px 0;
}
