/* line 17, ../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 34, ../scss/_base.scss */
.center-txt {
  text-align: center;
}

/* line 60, ../scss/_base.scss */
h1, h2, h3 {
  font-weight: bold;
}

/* line 64, ../scss/_base.scss */
h1 {
  font-size: 34px;
  line-height: 51px;
}

/* line 69, ../scss/_base.scss */
h2 {
  font-size: 30px;
  line-height: 45px;
}

/* line 74, ../scss/_base.scss */
h3 {
  font-size: 24px;
  line-height: 36px;
}

/* line 81, ../scss/_base.scss */
body {
  background-color: #6c8ea0;
  font-family: 'Actor', sans-serif;
  color: #fefefe;
  font-size: 20px;
  line-height: 30px;
}

/* line 112, ../scss/_base.scss */
button {
  font-size: inherit;
  font-family: inherit;
  background-color: inherit;
  padding: 8px;
  cursor: pointer;
}
/* line 119, ../scss/_base.scss */
button:hover {
  color: #fefefe;
}
/* line 123, ../scss/_base.scss */
button:focus {
  outline: 0;
  color: #fefefe;
}

/* line 149, ../scss/_base.scss */
.helper {
  color: #aac3d0;
}

/* line 3, ../scss/redirect.scss */
.wrapper {
  margin: auto;
  max-width: 1200px;
  padding: 12px;
  text-align: center;
}

/* line 10, ../scss/redirect.scss */
.allow {
  margin: 100px auto 0;
  width: 80%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 18, ../scss/redirect.scss */
.allow-type {
  margin-bottom: 32px;
}

/* line 22, ../scss/redirect.scss */
.allow-sentence {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background-color: inherit;
  border: none;
  display: block;
  font-size: 34px;
  line-height: 51px;
  color: #fefefe;
  font-family: inherit;
  text-align: center;
  padding: 0;
  margin: 0 0 32px 0;
  border-radius: 2px;
}
/* line 38, ../scss/redirect.scss */
.allow-sentence:focus {
  outline: none;
}
/* line 42, ../scss/redirect.scss */
.allow-sentence.ng-valid-allow-sentence {
  color: #53ff44;
}

/* line 49, ../scss/redirect.scss */
.allow-button:before, .allow-button:after {
  -webkit-transition: -webkit-transform 0.1s ease-out;
  -moz-transition: -webkit-transform 0.1s ease-out;
  -o-transition: -webkit-transform 0.1s ease-out;
  transition: -webkit-transform 0.1s ease-out;
  display: inline-block;
  padding: 0 2px;
}

/* line 56, ../scss/redirect.scss */
.allow-button {
  display: block;
  border: none;
  margin: auto;
  color: inherit;
  position: relative;
  padding: 8px 10px;
}
/* line 64, ../scss/redirect.scss */
.allow-button:disabled {
  display: none;
}
/* line 68, ../scss/redirect.scss */
.allow-button:before {
  content: '[';
  -webkit-transform: translate3d(-10px, 0, 0);
}
/* line 74, ../scss/redirect.scss */
.allow-button:after {
  content: ']';
  -webkit-transform: translate3d(10px, 0, 0);
}
/* line 80, ../scss/redirect.scss */
.allow-button:hover, .allow-button:focus {
  text-decoration: underline;
}
/* line 84, ../scss/redirect.scss */
.allow-button:hover:before, .allow-button:focus:before {
  -webkit-transform: translate3d(0px, 0, 0);
}
/* line 88, ../scss/redirect.scss */
.allow-button:hover:after, .allow-button:focus:after {
  -webkit-transform: translate3d(0px, 0, 0);
}
