@import "compass/reset";
@import "compass/css3/transition";
@import "fonts";

// Colors
$gray: #6c8ea0;
$gray-ll: #aac3d0;
$gray-dd: #416388;


$blue-ll: #6c8ea0;
$blue-l: #3d9ad1;
$blue: #0969a2;
$blue-d: #0063B1;

$black: #0b0b0b;

$white: #fefefe;
$white-blue: #e1eef5;

$green: #5fff99;
$yellow: #ebff08;
$red: #ffa9a9;
$vert-space: 16px;

// Sitewide

$c-background: $blue-ll;
$text-primary: $white;
$text-secondary: $gray-ll;


// Utility

.align-middle {
	text-align: middle;
}

.txt-secondary {
	color: $text-secondary;
}

.ng-hide {
	display: none !important;
}
// Fonts

@mixin size-1 {
	font-size: 34px;
	line-height: 51px;
}

@mixin size-2 {
	font-size: 30px;
	line-height: 45px;
}

@mixin size-3 {
	font-size: 24px;
	line-height: 36px;
}

@mixin size-4 {
	font-size: 20px;
	line-height: 30px;
}

@mixin size-5 {
	font-size: 16px;
	line-height: 24px;
}

@mixin size-6 {
	font-size: 14px;
	line-height: 21px;
}


%bold {
	font-weight: bold;
}

h1 {
	@extend %bold;
	@include size-1;
}

h2 {
	@extend %bold;
	@include size-2;
}

h3 {
	@extend %bold;
	@include size-3;
}

strong {
	color: $white;
	font-weight: bold;
}

// Base

body {
	background-color: $c-background;
	font-family: 'Actor', sans-serif;
	color: $text-primary;
	@include size-4;
}

.wrapper {
	padding-left: 12px;
	padding-right: 12px;
	max-width: 920px;
	margin: auto;
}

input[class*='opt-field'] {
	font-size: inherit;
	text-align: center;
}

input[type=text],
input[type=url],
input[type=number] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: inherit;
	border: none;
	font-family: inherit;
	padding: 0;
	display: inline-block;
	color: $yellow;

	&:focus {
		outline: none;
	}

	&.ng-dirty.ng-valid {
		color: $green;
	}
}

a {
	text-decoration: none;
	color: $green;

	&:visited {
		color: $green;
	}
}

/* 	Transitions  -------------------------------------------- */

@mixin transition-all-fast {
	@include single-transition(all, 0.1s, ease-out);
}

/* 	Buttons  -------------------------------------------- */

button {
	background-color: inherit;
	border: none;
	font-size: inherit;
	cursor: pointer;

	&:disabled {
		color: $text-secondary;
	}
}

%invalid-form {
	color: #be4141;
	border-color: #be4141;

	&:focus {
		color: inherit;
		border-color: #e9322d;
	}
}


input:focus:required:invalid:focus,
textarea:focus:required:invalid:focus,
select:focus:required:invalid:focus,
input[class*='ng-invalid-'] {
	// @extend %invalid-form;
}

.input-field {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

$err-msg-width: 180px;

.input-error {
	border-radius: 2px;
	padding: 4px;
	@include size-6;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: $red;
	text-align: center;
	width: $err-msg-width;
	position: absolute;
	left: 50%;
	top: 100%;
	margin-left: -$err-msg-width/2;
}



// Elements

.helper {
	color: $text-secondary;
}

.heron {
	position: fixed;
	bottom: -20px;
	right: 10px;
	z-index: -1;
}

.tutorial {
	background-color: $gray-dd;
	text-align: left;
	@extend .helper;
	padding: 12px 36px;
	@include size-5;
	box-shadow: 0 0 4px #3A3A3A inset;
	ul {
		list-style-type: circle;
	}
}

.button {
	padding: 8px 16px;
	border-radius: 1px;
}
