@import 'base';

.wrapper {
	text-align: left;
	padding-bottom: 60px;
	padding-top: $vert-space;
}

.saved-help {
	width: 60%;
	margin: auto;
	margin-bottom: $vert-space;
}

.opt-field--periods {
	width: 40px;
}

.opt-field--period-length {
	width: 43px;
}

.opt-field--min {
	color:  $text-secondary;
	@include size-5;
}

.options-saved {
	margin-bottom: $vert-space;
}

.saved-entries {
	padding-top: $vert-space*2;
}

.saved-entries-table {
	margin: auto;
	thead {
		color: $text-secondary;
	}

	th, td {
		border: 1px solid $gray-ll;
		text-align: center;
		padding: 8px 10px;
	}
}

.action-delete, .action-save {
	margin-left: 8px;
	color: $green;
}
