@import 'base';

.wrapper {
	text-align: left;
	width: $content-width;
}

.options-add {
	margin-bottom: $vert-space*2;
	text-align: center;
	@include size-2;
}

.new-domain-prompt {
	display: block;
	padding: $vert-space 0;
}

.focus-prompt {
	text-align: left;
	@extend .helper;
	margin: auto;
	width: 40%;
	list-style-type: circle;
	padding: 12px 36px;
	@include size-5;

	border: 1px solid $gray-ll;
}


input[class*='opt-field'] {
	font-size: inherit;
	color: inherit;
	text-align: center;
}

.left-today {
	width: 60px;
	display: inline-block;
	text-align: right;
	color: $text-secondary;
}

.opt-field--domain {
	width: 300px;
}

.opt-field--periods {
	width: 40px;
}

.opt-field--period-length {
	width: 43px;
}

.options-saved {
	margin-bottom: $vert-space;
}

.rules-saved {
	text-align: left;

	td, th {
		padding: 4px 16px 4px 0;
	}
}

.saved-domain {
	@extend .opt-field--domain;
	display: inline-block;
	text-align: center;
}

.action-delete, .action-save {
	margin-left: 8px;
}

.distractions-add {
	display: block;
	margin-bottom: $vert-space;
}

.opt-field--distraction {
	width: 400px;
	margin-left: 100px;
}