@import 'base';

.info-top {
	@include clearfix;
	margin-bottom: $vert-space;
}

.domain {
	float: left;
}

.period-end {
	@include size-5;
	color: $text-secondary;
	float: right;
}

.period-left {
	@include size-4;
	margin-bottom: $vert-space;
}


.period-left-time {
	color: $red;
}

.periods-left {
	text-align: right;
}
