@import 'base';

.wrapper-popup {
	min-width: 250px;
	padding: 2px 16px;
	text-align: center;
}

.new-question {
	color: $text-secondary;
	margin: $vert-space 0;
	@include size-5;
}

.new-domain {
	text-decoration: underline;
}

.period-info {
	margin-bottom: $vert-space;
}

.opt-field--min {
	color: $text-secondary;
	@include size-5;
}

.action-save {
	width: 100%;
	color: $white;
	background-color: $green;
	margin-bottom: $vert-space;
}