@import 'base';

.wrapper {
	text-align: center;
	padding-top: 80px;
}

.how-about {
	@extend .helper;
	margin: $vert-space 0 $vert-space*2;
}

.distraction-help {
	width: 80%;
	margin: auto;
	text-align: center;
	margin-bottom: $vert-space;
}

.allow {
	margin: 100px auto 0;
	text-align: center;
	border: 1px solid $gray-ll;
	border-bottom: 0;
	position: fixed;
	bottom: 0;
	left: 4%;
	right: 4%;
	background-color: $blue-ll;
	opacity: 0.95;
	padding: 8px;
	box-shadow: 0px 0px 4px #555;
}

.allow-type {
	margin-bottom: $vert-space*2;
	position: relative;
	cursor: default;
	user-select: none;
	-webkit-user-select: none;
}

.allow-sentence {
	width: 100%;
	@include size-1;
	color: $white;
	text-align: center;
	margin: 0 0 $vert-space*2 0;

	&:focus {
		outline: none;
	}

	&.ng-valid-allow-sentence {
		color: $green;
	}
}

.allow-button {
	color: $green;

	&:disabled {
		display: none;
	}
}

.opt-field--distraction {
	width: 350px;
}

.done-for-day {
	@include size-1;
	margin-bottom: $vert-space*2;
}

.distraction-list {
	padding-bottom: 180px;
	li {
		margin-bottom: $vert-space;
	}
}

.action-save {
	color: $green;
}

.distraction-saved {
	display: block;

	.action-delete {
		@include transition-all-fast;
		opacity: 0;
		color: $green;
	}

	&:hover {
		.action-delete {
			opacity: 1;
		}
	}
}