@import 'base';

.wrapper {
	text-align: center;
}

.how-about {
	@extend .helper;
	margin: $vert-space 0 $vert-space*2;
}

.allow {
	margin: 100px auto 0;
	text-align: center;
}

.allow-type {
	margin-bottom: $vert-space*2;
	position: relative;
	cursor: default;
	user-select: none;
	-webkit-user-select: none;
}

.allow-sentence {
	width: 100%;
	@include size-1;
	color: $white;
	text-align: center;
	margin: 0 0 $vert-space*2 0;

	&:focus {
		outline: none;
	}

	&.ng-valid-allow-sentence {
		color: $green;
	}
}

.done-for-day {
	@include size-1;
	margin-top: 80px;
}

.distractions-saved {
	margin-top: $vert-space;
}