<!doctype html>
<html lang="en" ng-csp ng-app="checkless">
<head>
	<meta charset="UTF-8">
	<title>Add a site to Check Less</title>
	<link href='http://fonts.googleapis.com/css?family=Actor' rel='stylesheet' type='text/css'>
	<!-- Production (development) -->
	<script src="../../js/angular.min.js"></script>
	<script src="../../js/app.js"></script>
	<script src="../../js/shared.js"></script>
	<script src="../../js/factories.js"></script>
	<script src="../../js/controllers.js"></script>
	<script src="../../js/directives.js"></script>
	<!-- Production (minified) -->
	<!-- <script src="../js/build/prod-common.min.js"></script>-->
</head>
<body>
	<div class="wrapper" ng-controller="PopupAdd">
		<form name="saveNew" class="options-add">
			<span>{{ newEntry.domain }}</span>
			<input type="number" ng-model="newEntry.periods" class="opt-field--periods" min="0" max="99" value="2" required autofocus/>x
			<input type="number" ng-model="newEntry.periodLength" class="opt-field--period-length" min="1" max="60" value="30" /><span class="opt-field--min">min</span>
			<button class="action-save" title="Add to Check Less" ng-disabled="!saveNew.$valid" ng-click="saveNewEntry(newEntry)">
				<i class="icon-save"></i>
				Add to Check Less
			</button>
		</form>
		<div ng-show="true">
			<p>{{newEntry.domain}}</p>
			<p>To manage your saved sites, go to Tools > Extensions > Check Less Options</p>
		</div>
	</div>
</body>
</html>