/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?82619452");
  src: url("../fonts/fontello.eot?82619452#iefix") format("embedded-opentype"), url("../fonts/fontello.woff?82619452") format("woff"), url("../fonts/fontello.ttf?82619452") format("truetype"), url("../fonts/fontello.svg?82619452#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?82619452#fontello') format('svg');
  }
}
*/
/* line 22, ../../scss/_fonts.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* line 53, ../../scss/_fonts.scss */
.icon-delete:before {
  content: '\e802';
}

/* '' */
/* line 54, ../../scss/_fonts.scss */
.icon-save:before {
  content: '\e800';
}

/* '' */
/* line 10, ../../scss/_base.scss */
.wrapper {
  padding: 12px;
  margin: auto;
}
/* line 15, ../../scss/_base.scss */
.wrapper .row {
  clear: both;
  width: 100%;
  /* span1 - span12 */
}
/* line 25, ../../scss/_base.scss */
.wrapper .row .span1 {
  float: left;
  margin: 16px 8px 0 8px;
  padding: 6px;
  width: 72px;
}
/* line 25, ../../scss/_base.scss */
.wrapper .row .span2 {
  float: left;
  margin: 16px 8px 0 8px;
  padding: 6px;
  width: 172px;
}
/* line 25, ../../scss/_base.scss */
.wrapper .row .span3 {
  float: left;
  margin: 16px 8px 0 8px;
  padding: 6px;
  width: 272px;
}
/* line 25, ../../scss/_base.scss */
.wrapper .row .span4 {
  float: left;
  margin: 16px 8px 0 8px;
  padding: 6px;
  width: 372px;
}
/* line 25, ../../scss/_base.scss */
.wrapper .row .span5 {
  float: left;
  margin: 16px 8px 0 8px;
  padding: 6px;
  width: 472px;
}
/* line 25, ../../scss/_base.scss */
.wrapper .row .span6 {
  float: left;
  margin: 16px 8px 0 8px;
  padding: 6px;
  width: 572px;
}
/* line 25, ../../scss/_base.scss */
.wrapper .row .span7 {
  float: left;
  margin: 16px 8px 0 8px;
  padding: 6px;
  width: 672px;
}
/* line 25, ../../scss/_base.scss */
.wrapper .row .span8 {
  float: left;
  margin: 16px 8px 0 8px;
  padding: 6px;
  width: 772px;
}
/* line 25, ../../scss/_base.scss */
.wrapper .row .span9 {
  float: left;
  margin: 16px 8px 0 8px;
  padding: 6px;
  width: 872px;
}
/* line 25, ../../scss/_base.scss */
.wrapper .row .span10 {
  float: left;
  margin: 16px 8px 0 8px;
  padding: 6px;
  width: 972px;
}
/* line 25, ../../scss/_base.scss */
.wrapper .row .span11 {
  float: left;
  margin: 16px 8px 0 8px;
  padding: 6px;
  width: 1072px;
}
/* line 25, ../../scss/_base.scss */
.wrapper .row .span12 {
  float: left;
  margin: 16px 8px 0 8px;
  padding: 6px;
  width: 1172px;
}

/* line 63, ../../scss/_base.scss */
.align-middle {
  text-align: middle;
}

/* line 67, ../../scss/_base.scss */
.txt-secondary {
  color: #aac3d0;
}

/* line 71, ../../scss/_base.scss */
.ng-hide {
  display: none !important;
}

/* line 107, ../../scss/_base.scss */
h1, h2, h3 {
  font-weight: bold;
}

/* line 111, ../../scss/_base.scss */
h1 {
  font-size: 34px;
  line-height: 51px;
}

/* line 116, ../../scss/_base.scss */
h2 {
  font-size: 30px;
  line-height: 45px;
}

/* line 121, ../../scss/_base.scss */
h3 {
  font-size: 24px;
  line-height: 36px;
}

/* line 128, ../../scss/_base.scss */
body {
  background-color: #6c8ea0;
  font-family: 'Actor', sans-serif;
  color: #fefefe;
  font-size: 20px;
  line-height: 30px;
}

/* line 137, ../../scss/_base.scss */
input[type=text],
input[type=url],
input[type=number] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: inherit;
  border: none;
  font-family: inherit;
  padding: 0;
  display: inline-block;
}
/* line 147, ../../scss/_base.scss */
input[type=text]:focus,
input[type=url]:focus,
input[type=number]:focus {
  outline: none;
}
/* line 151, ../../scss/_base.scss */
input[type=text].ng-valid,
input[type=url].ng-valid,
input[type=number].ng-valid {
  color: #5fff99;
}

/* line 156, ../../scss/_base.scss */
a {
  text-decoration: none;
  color: #5fff99;
}
/* line 160, ../../scss/_base.scss */
a:visited {
  color: #5fff99;
}

/* 	Transitions  -------------------------------------------- */
/* 	Buttons  -------------------------------------------- */
/* line 173, ../../scss/_base.scss */
button {
  color: #5fff99;
  background-color: inherit;
  border: none;
  font-size: inherit;
  cursor: pointer;
}
/* line 180, ../../scss/_base.scss */
button:disabled {
  color: #aac3d0;
}

/* line 203, ../../scss/_base.scss */
.input-field {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

/* line 211, ../../scss/_base.scss */
.input-error {
  border-radius: 2px;
  padding: 4px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffa9a9;
  text-align: center;
  width: 180px;
  position: absolute;
  left: 50%;
  top: 100%;
  margin-left: -90px;
}

/* line 230, ../../scss/_base.scss */
.helper, .focus-prompt {
  color: #aac3d0;
}

/* line 234, ../../scss/_base.scss */
.heron {
  position: fixed;
  bottom: -20px;
  right: 10px;
  z-index: -1;
}

/* line 3, ../../scss/options.scss */
.wrapper {
  text-align: left;
  width: 1200px;
  padding-bottom: 60px;
}

/* line 9, ../../scss/options.scss */
.options-add {
  margin-bottom: 32px;
  text-align: center;
  font-size: 30px;
  line-height: 45px;
}

/* line 15, ../../scss/options.scss */
.new-domain-prompt {
  display: block;
  padding: 16px 0;
}

/* line 20, ../../scss/options.scss */
.focus-prompt {
  text-align: left;
  margin: auto;
  width: 40%;
  list-style-type: circle;
  padding: 12px 36px;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #aac3d0;
}

/* line 33, ../../scss/options.scss */
input[class*='opt-field'] {
  font-size: inherit;
  color: inherit;
  text-align: center;
}

/* line 39, ../../scss/options.scss */
.left-today {
  width: 60px;
  display: inline-block;
  text-align: right;
  color: #aac3d0;
}

/* line 46, ../../scss/options.scss */
.opt-field--domain {
  width: 300px;
}

/* line 50, ../../scss/options.scss */
.opt-field--periods {
  width: 40px;
}

/* line 54, ../../scss/options.scss */
.opt-field--period-length {
  width: 43px;
}

/* line 58, ../../scss/options.scss */
.options-saved {
  margin-bottom: 16px;
}

/* line 62, ../../scss/options.scss */
.saved-entries-table {
  margin: auto;
}
/* line 64, ../../scss/options.scss */
.saved-entries-table thead {
  color: #aac3d0;
}
/* line 68, ../../scss/options.scss */
.saved-entries-table th, .saved-entries-table td {
  border: 1px solid #aac3d0;
  text-align: center;
  padding: 8px 10px;
}

/* line 77, ../../scss/options.scss */
.action-delete, .action-save {
  margin-left: 8px;
}

/* line 81, ../../scss/options.scss */
.distractions-add {
  display: block;
  margin-bottom: 16px;
}

/* line 86, ../../scss/options.scss */
.opt-field--distraction {
  width: 400px;
  margin-left: 100px;
}
