/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p194@cf/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 34, ../../scss/_base.scss */
.align-middle {
  text-align: middle;
}

/* line 38, ../../scss/_base.scss */
.txt-secondary {
  color: #aac3d0;
}

/* line 42, ../../scss/_base.scss */
.ng-hide {
  display: none !important;
}

/* line 78, ../../scss/_base.scss */
h1, h2, h3 {
  font-weight: bold;
}

/* line 82, ../../scss/_base.scss */
h1 {
  font-size: 34px;
  line-height: 51px;
}

/* line 87, ../../scss/_base.scss */
h2 {
  font-size: 30px;
  line-height: 45px;
}

/* line 92, ../../scss/_base.scss */
h3 {
  font-size: 24px;
  line-height: 36px;
}

/* line 99, ../../scss/_base.scss */
body {
  background-color: #6c8ea0;
  font-family: 'Actor', sans-serif;
  color: #fefefe;
  font-size: 20px;
  line-height: 30px;
}

/* line 108, ../../scss/_base.scss */
input[type=text],
input[type=url],
input[type=number] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: inherit;
  border: none;
  font-family: inherit;
  padding: 0;
  display: inline-block;
}
/* line 118, ../../scss/_base.scss */
input[type=text]:focus,
input[type=url]:focus,
input[type=number]:focus {
  outline: none;
}
/* line 122, ../../scss/_base.scss */
input[type=text].ng-valid,
input[type=url].ng-valid,
input[type=number].ng-valid {
  color: #5fff99;
}

/* 	Transitions  -------------------------------------------- */
/* 	Buttons  -------------------------------------------- */
/* line 137, ../../scss/_base.scss */
button:before, button:after {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  display: inline-block;
  padding: 0 2px;
  margin-top: -5px;
  vertical-align: top;
  font-size: 1.3em;
}

/* line 146, ../../scss/_base.scss */
button {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  display: inline-block;
  font-size: inherit;
  font-family: inherit;
  background-color: inherit;
  cursor: pointer;
  border: none;
  margin: auto;
  color: inherit;
  position: relative;
  padding: 0px 10px;
  text-transform: lowercase;
}
/* line 160, ../../scss/_base.scss */
button:disabled {
  display: none;
}
/* line 164, ../../scss/_base.scss */
button:before {
  content: '[';
  -webkit-transform: translate3d(-10px, 0, 0);
}
/* line 170, ../../scss/_base.scss */
button:after {
  content: ']';
  -webkit-transform: translate3d(10px, 0, 0);
}
/* line 176, ../../scss/_base.scss */
button:hover {
  text-decoration: underline;
}
/* line 179, ../../scss/_base.scss */
button:hover:before {
  -webkit-transform: translate3d(0px, 0, 0);
}
/* line 183, ../../scss/_base.scss */
button:hover:after {
  -webkit-transform: translate3d(0px, 0, 0);
}
/* line 188, ../../scss/_base.scss */
button:focus {
  text-decoration: underline;
  outline: 0;
}

/* line 212, ../../scss/_base.scss */
.input-field {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

/* line 220, ../../scss/_base.scss */
.input-error {
  border-radius: 2px;
  padding: 4px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffa9a9;
  text-align: center;
  width: 180px;
  position: absolute;
  left: 50%;
  top: 100%;
  margin-left: -90px;
}

/* line 239, ../../scss/_base.scss */
.helper {
  color: #aac3d0;
}

/* line 243, ../../scss/_base.scss */
.heron {
  position: fixed;
  bottom: -20px;
  right: 10px;
}

/* line 3, ../../scss/redirect.scss */
.wrapper {
  margin: auto;
  max-width: 1200px;
  padding: 12px;
  text-align: center;
}

/* line 10, ../../scss/redirect.scss */
.allow {
  margin: 100px auto 0;
  width: 80%;
}

/* line 15, ../../scss/redirect.scss */
.allow-type {
  margin-bottom: 32px;
}

/* line 19, ../../scss/redirect.scss */
.allow-sentence {
  width: 100%;
  font-size: 34px;
  line-height: 51px;
  color: #fefefe;
  text-align: center;
  margin: 0 0 32px 0;
}
/* line 26, ../../scss/redirect.scss */
.allow-sentence:focus {
  outline: none;
}
/* line 30, ../../scss/redirect.scss */
.allow-sentence.ng-valid-allow-sentence {
  color: #5fff99;
}

/* line 35, ../../scss/redirect.scss */
.done-for-day {
  font-size: 34px;
  line-height: 51px;
  margin-top: 80px;
}
