<!doctype html>
<html lang="en" ng-csp ng-app="decide">
<head>
	<meta charset="UTF-8">
	<title>Soji Options</title>
	<link href="/css/options.css" rel="stylesheet" type="text/css">
	<script src="angular.min.js"></script>
	<script src="controllers.js"></script>
	<script src="factories.js"></script>
</head>
<body>
	<div class="wrapper">
		<h1 class="page-title">Soji Options</h1>
		<form ng-controller="NewEntry">
			<span>I will only focus on</span>
			<input type="text" ng-model="newEntry.domain" placeholder="example.com" class="domain" required />
			for
			<input type="number" ng-model="newEntry.duration" class="block-time" min="0" max="60" placeholder="30" />-minute blocks,
			<input type="number" ng-model="newEntry.periods" class="block-num"min="0" max="10"placeholder="2" required />
			<span>times per day.</span>
			<input type="button" value="Save" class="action-save" ng-click="saveNewEntry(newEntry)" />
			<ul class="saved-entries">
				<li ng-repeat="entry in entries track by $index">
					<span>I will only focus on</span>
					<input type="text" ng-model="entry.domain" value="{{ entry.domain }}" class="domain" required />
					for
					<input type="number" ng-model="entry.duration" class="block-time" min="0" max="60" value="{{ entry.duration }}"  />-minute blocks,
					<input type="number" ng-model="entry.periods" class="block-num"min="0" max="10" value=" {{ entry.periods }}" required />
					<span>times per day.</span>
					<input type="button" ng-click="removeEntry(entry)" value="Remove" class="action-delete" />
					<input type="button" ng-click="updateEntry(entry)" value="Update" class="action-save" />
				</li>
			</ul>
		</form>
	</div>
</body>
</html>